.llamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #FFFFFF;
    text-align: center;
    
    background-color: #00161C;

    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.llamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.llamada__texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

.llamada__boton {
    width: 100%;
}
/*PARA TABLETS DE 768px A 1024px */
@media screen and (min-width:768px){
    .llamada__texto{
        max-width:600px;
    }

}

/*PARA DESKTOP DE 1024px EN ADELANTE*/
@media screen and (min-width:1024px) {
    .llamada{
        background-image: url(../img/bg-intro.jpg);
        background-size: cover;
        padding-top:  8.25rem;
    }
    .llamada__titulo{
        font-size: 3.25rem;
        margin-bottom: 2rem;
    }
}
